doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/angular-ui-select/dist/select.css')
    link(rel='stylesheet', href='/bower_components/angular-chart.js/dist/angular-chart.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='/bower_components/Chart.js/Chart.js')
    script(src='/bower_components/Chart.StackedBar.js/src/Chart.StackedBar.js')
    script(src='/bower_components/angular-chart.js/dist/angular-chart.js')
    script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
    script(src='/bower_components/angular-ui-select/dist/select.js')
    script(src='/core.js')

  body(ng-app='coreApp', ng-controller='buildStatsCtrl', class='ng-cloak')
    #statSearchContainer
        form(ng-submit='submit()')
          .col-md-1
          .col-md-3
            ui-select(ng-model="search.tier.selected" theme="bootstrap" ng-disabled="disabled" class="tier_select" search-enabled="false" ng-init='search.tier.selected = tiers[0]')
              ui-select-match(placeholder="Select a tier")
                img(ng-src="{{$select.selected.image}}")
                {{$select.selected.name}}
              ui-select-choices(repeat="tier in tiers")
                .item-selection-choice
                  img(ng-src="{{tier.image}}")
                  span(ng-bind-html="tier.name")

          .col-md-3
            ui-select(ng-model="search.championId.selected" theme="bootstrap" ng-disabled="disabled" class="champion_select" search-enabled="true")
              ui-select-match(placeholder="Enter a champion name")
                img(ng-src="{{$select.selected.image}}")
                {{$select.selected.name}}
              ui-select-choices(repeat="champion in champion_array | filter: $select.search")
                .item-selection-choice
                  img(ng-src="{{champion.image}}")
                  span(ng-bind-html="champion.name | highlight: $select.search")

          .col-md-2
            ui-select(ng-model="search.patch.selected" theme="bootstrap" ng-disabled="disabled" class="patch_select" search-enabled="false" ng-init='search.patch.selected=patches[0]')
                ui-select-match(placeholder="Select a patch")
                  {{$select.selected}}
                ui-select-choices(repeat="patch in patches")
                  .item-selection-choice
                    span(ng-bind-html="patch")
          .col-md-2
            input(type='submit', class='btn btn-default', value='Lookup')

    #kdaChartContainer.genericContainer
      canvas(id='kdaChart',
             ng-click='kda_click()')

    include ./analytics.jade