link(href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='/bower_components/angular-ui-select/dist/select.css')
link(rel='stylesheet', href='/bower_components/angular-chart.js/dist/angular-chart.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/bower_components/jquery/dist/jquery.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
script(src='/bower_components/Chart.js/Chart.js')
script(src='/bower_components/Chart.StackedBar.js/src/Chart.StackedBar.js')
script(src='/bower_components/angular-chart.js/dist/angular-chart.js')
script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
script(src='/bower_components/angular-ui-select/dist/select.js')
script(src='/core.js')