#navigation.col-md-2
  h3
    a(href='http://item.builder.gg') item.builder.gg
  h3
    a(href='http://champion.builder.gg') champion.builder.gg
  h3
    a(href='http://about.builder.gg') about.builder.gg
  h3
    a(href='#' ng-click='show_help = !show_help') Help!