body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;
  text-align: center;

  background-image: url("/images/dark_wood.png");

  color: #DDDDDD !important;
}

a {
  color: #00B7FF;
}

#siteHeader {
}

#siteHeader h1 {
  width: auto;
  font-size: 90px;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  color: #dddddd;
  font-family: 'Lobster', cursive;
}

#headerSubText {
  font-size: 26px;
  margin-bottom: 50px;
  color: #cccccc;
  font-family: 'Lobster', cursive;
}

.genericContainer {
  background-color: rgba(0,0,0,0.85);
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 20px;
}

#itemSelectionContainer {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}

#statDistributionChart {
  width: 100% !important;
  max-width: 1100px;
  height: auto !important;
  padding: 20px;
}

#statDistributionChartYAxis {
  position: absolute;
  color: #FFFFFF;
  transform: rotate(270deg);
  margin-top: 225px;
  margin-left: -45px;
  font-size: 18px;
}

#statDistributionChartContainer {
  display: block;
  width: 60%;
  margin: 0 auto;
}

#victorySelect {
  margin-top: 4px;
}

#alertContainer {
  margin-bottom: 20px;
}

#kdaTitleContainer {
  min-height: 50px !important;
  margin-bottom: 20px !important;
}

.alert {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0 !important;
  color: white !important;
  font-size: 18px !important;
  padding: 10px !important;
}

.alert-success {
  background-color: rgba(150,255,150,0.3) !important;
}

.alert-info {
  background-color: rgba(150,255,255,0.3) !important;
}

.alert-danger {
  background-color: rgba(255,150,150,0.3) !important;
}

#kdaChartContainer {
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#kdaChart {
  padding: 20px;
  display: inline;
}

#startEndBuilds {
  margin: 25px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#minuteBuilds {
  margin: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#statSearchContainer {
  padding-bottom: 10px;
  margin: 0 auto;
}

#statSearchContainer {
  zoom: 1.5;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#statSearchContainer .row {
  margin-bottom: 10px;
}

#searchSubmit div {
  width: 90px;
}

#loading_icon {
  height: 18px;
  width: 18px;
}

#blockSelectionContainer button {
  margin: 2px;
}

#blockSelectionContainer .ui-select-container,
#blockSelectionContainer input {
  margin-top: 12px;
  margin-bottom: 12px;
}

.block_item_img_container {
  float: right;
  margin-right: -18px;
}

.block_item_img {
  height: 30px;
  width: 30px;
  margin: auto 1px;
}

.block_choice_name {
  position: absolute;
  margin-top: 4px;
}

.block-select .ui-select-choices-row-inner {
  height: 35px;
}

.buildItem {
  display: inline-block;
  padding: 0 20px;
  width: 125px;
  height: 200px;
  vertical-align: top;
  text-align: center;
}

.item_display_img {
  display: inline-block;
  margin-left: -8px;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  z-index: 1;
  background-color: rgba(0,0,0,0.85);
}

.clear_button {
  position: absolute;
  margin-left: -27px;
}

.ui-select-container input,
.ui-select-toggle,
.ui-select-match,
.ui-select-choices {
  background-color: rgba(0,0,0,0.9) !important;
}

.ui-select-match-text,
.ui-select-search,
.ui-select-choices-row-inner,
.item-selection-choice {
  color: #DDDDDD !important;
}

.btn-default,
.form-control {
  background-color: rgba(0,0,0,0.8) !important;
  color: #DDDDDD !important;
}

.buildItem .ui-select-container {
  text-align: left;
  position: absolute;
  width: 250px;
  margin: 0 -80px;
  z-index: 10;
  /*&box-shadow: 0px 0px 50px rgba(200,45,45,0.5);*/
}

.buildItem .ui-select-choices-row img {
  width: 30px;
  height: 30px;
}

.tier_select .ui-select-choices-row img {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-right: 5px;
}

.tier_select .ui-select-match-text span {
  margin-left: 30px;
}

.tier_select .ui-select-match img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: -5px;
  position: absolute;
}

.champion_select .ui-select-choices-row img {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-right: 5px;
}

.champion_select .ui-select-match img {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: -10px;
  position: absolute;
}
.champion_select .ui-select-match-text span {
  margin-left: 30px;
}

#item0 .ui-select-container {
  box-shadow: 0px 0px 25px rgba(200,45,45,0.5);
}
#item0 .item_display_img {
  box-shadow: 0px 20px 55px rgba(200,45,45,0.5);
  border: 3px solid rgba(200,45,45,1);
  border-radius: 10px
}
#stat_table_item0 {
  background: rgba(200,45,45,0.2);
}

#item1 .ui-select-container {
  box-shadow: 0px 0px 25px rgba(200,200,45,0.5);
}
#item1 .item_display_img {
  box-shadow: 0px 20px 55px rgba(200,200,45,0.5);
  border: 3px solid rgba(200,200,45,1);
  border-radius: 10px
}
#stat_table_item1 {
  background: rgba(200,200,45,0.2);
}

#item2 .ui-select-container {
  box-shadow: 0px 0px 25px rgba(45,200,45,0.5);
}
#item2 .item_display_img {
  box-shadow: 0px 20px 55px rgba(45,200,45,0.5);
  border: 3px solid rgba(45,200,45,1);
  border-radius: 10px
}
#stat_table_item2 {
  background: rgba(45,200,45,0.2);
}

#item3 .ui-select-container {
  box-shadow: 0px 0px 25px rgba(45,200,200,0.5);
}
#item3 .item_display_img {
  box-shadow: 0px 20px 55px rgba(45,200,200,0.5);
  border: 3px solid rgba(45,200,200,1);
  border-radius: 10px
}
#stat_table_item3 {
  background: rgba(45,200,200,0.2);
}

#item4 .ui-select-container {
  box-shadow: 0px 0px 25px rgba(45,45,200,0.5);
}
#item4 .item_display_img {
  box-shadow: 0px 20px 55px rgba(45,45,200,0.5);
  border: 3px solid rgba(45,45,200,1);
  border-radius: 10px
}
#stat_table_item4 {
  background: rgba(45,45,200,0.2);
}

#item5 .ui-select-container {
  box-shadow: 0px 0px 25px rgba(200,45,200,0.5);
}
#item5 .item_display_img {
  box-shadow: 0px 20px 55px rgba(200,45,200,0.5);
  border: 3px solid rgba(200,45,200,1);
  border-radius: 10px
}
#stat_table_item5 {
  background: rgba(200,45,200,0.2);
}
/* File drop zone
.dropzone {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.image-container {
    width: 300px;
    height: 300px;
}

.image-container img {
   max-width: 100%;   
}

.file-name {
   font-family: Arial;   
}*/